<h1>%#$% YEAH, <%= session[:name].upcase %>!</h1>
<h1>YOU DID IT!! YOU LOGGED IN!</h1>
<h1>YOU'RE SECURE AS $#%%!</h1>
<h6>except not really</h6>
<h3>If you copy this URL, navigate elsewhere and then return to this page you will remain logged in.</h3>
<h3>If you modify this URL to a different user name, your session will end and will be required to login again.</h3>
<form action="/logout" action="get">
  <button>Logout</button>
</form>