<%= @display_msg if @display_msg != nil %>
<h1>HEY: LOGIN, DUDETTE!</h1>
<form action="/verify" method="post" id="user_form">
  <h2>Username:</h2><input type="text" id="name" name="name"><br>
  <h2>Password:</h2><input type="password" id="password" name="password">
  <br>
  <br>
  <button id="login">LOGIN</button> 
</form>
<br>
<h3>OR MAKE A USERNAME</h3>
<form action="/new_user" method="post" id="user_form">
  <h2>Username:</h2><input type="text" id="name" name="name"><br>
  <h2>Password:</h2><input type="password" id="password" name="password">
  <br>
  <br>
  <button id="login">CREATE NEW USER</button> 
</form>